@using System.Web.Http.Description
@model Bog.Web.Api.Areas.HelpPage.Models.HelpPageApiModel

@{
    ApiDescription description = this.Model.ApiDescription;
}
<h1>@description.HttpMethod.Method @description.RelativePath</h1>
<div>
    <p>@description.Documentation</p>

    <h2>Request Information</h2>

    <h3>URI Parameters</h3>
    @(this.Html.DisplayFor(m => m.UriParameters, "Parameters"))

    <h3>Body Parameters</h3>

    <p>@(this.Model.RequestDocumentation)</p>

    @if (this.Model.RequestModelDescription != null)
    {
        @(this.Html.DisplayFor(m => m.RequestModelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = this.Model.RequestModelDescription }))
        if (this.Model.RequestBodyParameters != null)
        {
            @(this.Html.DisplayFor(m => m.RequestBodyParameters, "Parameters"))
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (this.Model.SampleRequests.Count > 0)
    {
        <h3>Request Formats</h3>
        @(this.Html.DisplayFor(m => m.SampleRequests, "Samples"))
    }

    <h2>Response Information</h2>

    <h3>Resource Description</h3>

    <p>@description.ResponseDescription.Documentation</p>

    @if (this.Model.ResourceDescription != null)
    {
        @(this.Html.DisplayFor(m => m.ResourceDescription.ModelType, "ModelDescriptionLink", new { modelDescription = this.Model.ResourceDescription }))
        if (this.Model.ResourceProperties != null)
        {
            @(this.Html.DisplayFor(m => m.ResourceProperties, "Parameters"))
        }
    }
    else
    {
        <p>None.</p>
    }

    @if (this.Model.SampleResponses.Count > 0)
    {
        <h3>Response Formats</h3>
        @(this.Html.DisplayFor(m => m.SampleResponses, "Samples"))
    }

</div>